body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#search-header {
  font-size: 200;
  font-weight: bold;
  text-align: center;
  background-color: blue;
  color: white;
  padding: 20px;
}

#search-field {
  margin: auto;
}

.employee {
  font-size: 25;
  padding: 5px;
}

.employee:nth-child(odd) {
  background-color: lightgray;
}

.employee:nth-child(even) {
  background-color: white;
  border: solid 2px lightgray;
}

.hover-finger:hover {
  cursor: pointer;
}

.data-left {
  float: left;
}

.col-head {
  color: white;
  background-color: black;
  padding: 5px;
}

.white {
  color: white;
}